body {
    font-family: 'Darker Grotesque', sans-serif !important;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}
.progress {
    height: 6px !important;
    margin-bottom: 12px !important;
    border-radius: .5rem !important;
}
.progress-bar {
    letter-spacing: 1px !important;
    text-align: left !important;
    padding-left: 8px;
}